<% if resource.errors.any? %>
  <div id="error_explanation">
    <h4 id="error-title">Whoops!
    </h4>
      <% resource.errors.full_messages.each do |message| %>
        <small><li class="error-list"><%= message %></li></small>
      <% end %>
    
  </div>
<% end %>
