<div class="card mb-3 card-profile" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4 d-flex justify-content-center">
      <img src='<%= image_path('jesse_single.jpg') %>'  class="img-fluid rounded-start img-profile" alt='#'>
    </div>
        
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Hey there!</h3>
        <p class="card-text profile-text" id = "profile-text">I'm Jesse.  I'm a self-taught web developer.  
        Welcome to my site.
        In the past, all of my expereince has been with Javascript, but recently I decided I wanted to learn Ruby.
        I started by perusing through the official documentation.  I noticed references to the MVC (Model-Veiw-Controller) architecture used by Rails.
        
        <span class="line-break"></span>
        
        Before delving in, I wanted to get a general understanding of how Rails worked, so I coded along with a four hour free video course offered by <a href="https://codemy.com/">John Elder</a>.
        He did an awesome job simplifying and encapsulating the framework for complete beginners like me.  We generated models and scaffolds, and we installed gems like Devise that
        helped us with user authentication.  We learned about partials, paths, and associations.  It was great!  After I finished I started tinkering around with 
        new features, but I realized that I lacked any deep understanding of what was happening "under the hood".

        <span class="line-break"></span>

        This led me to complete an introductory course on Ruby offered by <a href="https://www.codecademy.com/">Codecademy.com</a> where I learned everything from procs, hashes, and symbols to the scope resolution operator (::).  
        With a deeper understanding of the sytanx, I found another great resourse in Michael Hartl's famous <a href="https://www.railstutorial.org/book">Ruby on Rails Tutorial</a>.
        While several things in the beginning chapters were review for me, I loved the way he builds understaing by explaining even small details step by step.

        <span class="line-break"></span>
        
        Some elements in this website are made with the help of <a href="https://getbootstrap.com/">Bootstrap 5</a>.  
        I'm serving it through <a href="https://id.heroku.com/login">Heroku</a> and using posgreSQL in production.
        While I'm definitly still a beginner and have much to learn, I'm excited about making the possibilities Rails offers.   

        </p>
        
        <p class="card-text"><small class="text-muted">Click to read my profile and sign in to create a dynamic profile of your own!</small></p>

        <%= link_to 'My Profile', about_path, class: 'btn btn-primary'%>

      </div>
    </div>
    
  </div>
</div>



