<div class="card mb-3 card-profile" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src='<%= image_path('jesse_single.jpg') %>'  class="img-fluid rounded-start img-profile" alt='#'>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Hey there!</h3>
        <p class="card-text profile-text" id = "profile-text">I'm Jesse.  I'm a self-taught web developer.  
        Welcome to my site.
        In the past, all of my expereince has been with Javascript, but recently I decided I wanted to learn Ruby.
        I started by perusing through the official documentation.  I noticed references to the MVC (Model-Veiw-Controller) architecture used by Rails.
        
        <br/>
        <br/>
        
        Before delving in, I wanted to get a general understanding of how Rails worked, so I coded along with a four hour free video course offered by <a href="#">John Elder</a>.
        He did an awesome job simplifying and encapsulating the framework for complete beginners like me.  We generated models and scafolds, and we installed gems like Devise that
        helped us with user authentication.  We learned about partials, paths, and associations.  It was great!  After I finished I started tinkering around with 
        new features, but I realized that I lacked any deep understanding of what was happening "under the hood".

        <br/>
        <br/>
        
        This led me to complete an introductory course on Ruby offered by <a href="#">Codecademy.com</a> where I learned everything from procs, hashes, and symbols to the scope resolution operator (::).  
        With a deeper understanding of the sytanx, I found another great resourse in Michael Hartl's famous <a href="#">Ruby on Rails Tutorial</a>.
        While several things in the beginning chapters were review for me, I loved the way he builds understaing by explaining even small details step by step.

        <br/>
        
        <br/>
        Some elements in this website are made with the help of <a href="#">Bootstrap 5</a>.  
        I'm serving it through <a href="#">Heroku</a> and using posgreSQL.
        While I'm definitly still a beginner and have much to learn, I'm excited about making the possibilities Rails offers! 
        Check out my dynamically populated profile, and feel free to sign up and create on of your own for fun.

        </p>
        
        <p class="card-text"><small class="text-muted">Read my profile</small></p>

        <%= link_to 'About Me', about_path, class: 'btn btn-primary'%>

      </div>
    </div>
  </div>
</div>



