/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100vh;
  background-color: hsl(187, 80%, 98%);
}

nav {
  box-shadow: 0px 0px 5px black;
}
.navbar-custom .navbar-text {
  color: green;
  size: 100px;
}
// a .nav-link {
//   color: hsl(67, 100%, 80%);
//   size: 100px;
// }

.main {
  border-radius: 2px;
  background-color: hsl(187, 23%, 90%);
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 10px solid hsl(187, 80%, 5%);
}

.main h1 {
  color: hsl(187, 80%, 10%);
  margin: 20px;
}
.main h2 {
  color: hsl(187, 80%, 5%);
  margin: 20px;
}
p {
  color: hsl(187, 100%, 10%);
}

.notice {
  color: hsl(187, 50%, 50%);
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(187, 80%, 10%);
  height: 20%;
  margin-top: -20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsl(187, 80%, 98%);
  border-top: 10px solid hsl(187, 50%, 50%);
}
