@import "bootstrap/scss/bootstrap";

body {
  background-color: hsl(192, 14%, 93%);
  padding-bottom: 100px;
}

a {
  color: #597f5a;
}
a:hover {
  color: #79af7e;
}

.site-link {
  margin-right: 1.5rem;
}

.line-break {
  display: block;
  margin-bottom: 0.75em;
}

h1,
h2,
h3 {
  color: hsl(187, 80%, 20%);
  margin-bottom: 1.25rem;
}
#top {
  display: flex;
  justify-content: space-around;
}

#nav-logo {
  margin-right: 1.5rem;
}
.nav-item {
  border-bottom: 2px solid hsl(192, 14%, 93%);
}
.nav-item:hover {
  border-bottom: 2px solid black;
}

.nav-item-dark {
  border: none;
  background-color: #282e3d;
  border-radius: 5px;
  margin-left: 1rem;
}

.nav-item-dark:hover {
  border: none;
}
.navbar-light .nav-item-dark:hover .nav-link {
  color: hsl(0, 0%, 100%);
}

.navbar-light .nav-item-dark .nav-link {
  color: hsl(187, 23%, 90%);
}
p {
  color: hsl(187, 100%, 10%);
}

.notice {
  color: hsl(187, 50%, 50%);
}

.img-profile {
  height: 200px;
  clip-path: circle(100px at 100px 100px);
  object-fit: cover;
  object-position: top center;
  width: 200px;
}

.card-profile {
  padding-top: 2rem;
  padding: 1.5rem;
}

.card-form {
  padding: 1.5rem;
  padding-top: 2rem;
  width: 50vw;
}

.btn:visited {
  border: none;
  box-shadow: none;
}
.btn:active {
  border: none;
  box-shadow: none;
}

.btn-primary {
  background-color: #4d5876;
  border: none;
}
.btn-primary:hover {
  background-color: #282e3d;
}
.btn-primary:focus {
  background-color: #282e3d;
  border: none;
  box-shadow: none;
}

.attribution {
  font-size: 0.5rem;
  color: hsl(187, 23%, 90%);
}

.hide {
  display: none;
}

.form-control {
  background-color: #282e3d;
  color: #79af7e;
}

.form-control:focus {
  background-color: #282e3d;
  border: none;
  box-shadow: none;
  outline: 0 none;
  caret-color: #79af7e;
  color: #79af7e;
}

.form-control:focus::placeholder {
  color: transparent;
}

#error_explanation {
  text-align: center;
}

#error-title {
  margin-bottom: none;
  color: #cf6439;
}

.error-list {
  list-style-type: none;
}
