@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0:600;1,300&display=swap");
@import url(navbar.scss);

body {
  background-color: hsl(192, 14%, 93%);
  padding-bottom: 100px;
  font-family: "Lato", sans-serif;
  overscroll-behavior: none;
}

a {
  color: #597f5a;
}
a:hover {
  color: #79af7e;
}

.site-link {
  margin-right: 1.5rem;
}

.line-break {
  display: block;
  margin-bottom: 0.75em;
}

h1,
h2,
h3 {
  color: hsl(187, 80%, 20%);
  margin-bottom: 1.25rem;
  font-weight: 500;
  letter-spacing: -1px;
}

p {
  color: hsl(187, 100%, 10%);
  font-family: "Lato", sans-serif;
}

#top {
  display: flex;
  justify-content: space-around;
}

.bg-dark {
  background-color: #282e3d !important;
}

#nav-logo {
  margin-right: 1.5rem;
}
.nav-item {
  border-bottom: 2px solid hsl(192, 14%, 93%);
}

.navbar-collapse.collapsing .nav-item:hover,
.navbar-collapse.show .nav-item:hover {
  border-bottom: 2px solid hsl(192, 14%, 93%);
}

.nav-item-arrow {
  display: inline;
}

.nav-item-dark {
  border: none;
  background-color: #282e3d;
  border-radius: 5px;
  margin-left: 1rem;
  padding-bottom: 0;
}

.nav-item-dark:hover {
  border: none;
}
.navbar-light .nav-item-dark:hover .nav-link {
  color: hsl(0, 0%, 100%);
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

.nav-item-dark .nav-link:hover:after {
  width: 0;
}

.navbar-light .nav-item-dark .nav-link {
  color: hsl(187, 23%, 90%);
}

.nav-item-dark-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar-collapse.collapsing .navbar-nav-right,
.navbar-collapse.show .navbar-nav-right {
  display: none;
}

.navbar-collapse.collapsing .navbar-nav-left,
.navbar-collapse.show .navbar-nav-left {
  display: none;
}

.navbar-collapse.collapsing .nav-item-collapsed,
.navbar-collapse.show .nav-item-collapsed {
  display: inline;
  cursor: pointer;
}

.nav-item-arrow {
  font-weight: 500;
}
.lil_arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #282e3d;
}

.nav-item-collapsed {
  display: none;
}
.nav-item-dark-collapsed {
  display: none;
}

.notice {
  color: hsl(187, 50%, 50%);
}

.img-profile {
  height: 200px;
  clip-path: circle(100px at 100px 100px);
  object-fit: cover;
  object-position: top center;
  width: 200px;
}

.card-profile {
  padding-top: 2rem;
  padding: 1.5rem;
}

.card-form {
  padding: 1.5rem;
  padding-top: 2rem;
}

.btn:visited {
  border: none;
  box-shadow: none;
}
.btn:active {
  border: none;
  box-shadow: none;
}

.btn-primary {
  background-color: #4d5876;
  border: none;
}
.btn-primary:hover {
  background-color: #282e3d;
}
.btn-primary:focus {
  background-color: #282e3d;
  border: none;
  box-shadow: none;
}
.btn-primary:active {
  background-color: #282e3d;
  border: none;
  box-shadow: none;
}

.btn-danger {
  background-color: #cf6439;
  border: none;
}
.btn-danger:focus {
  background-color: #cf6439;
  border: none;
  box-shadow: none;
}
.btn-danger:hover {
  background-color: #bb5b35;
  border: none;
  box-shadow: none;
}
.btn.active {
  background-color: #282e3d;
  border: none;
  box-shadow: none;
}

.attribution {
  font-size: 0.5rem;
  color: hsl(187, 23%, 90%);
}

.hide {
  display: none;
}

.form-control {
  background-color: #282e3d;
  color: #79af7e;
  border-radius: 5px;
  border: none;
}

.form-control:focus {
  background-color: #282e3d;
  border: none;
  box-shadow: none;
  outline: 0 none;
  caret-color: #79af7e;
  color: #79af7e;
}

.form-control:focus::placeholder {
  color: transparent;
}

#error_explanation {
  text-align: center;
}

#error-title {
  margin-bottom: none;
  color: #cf6439;
}

.error-list {
  list-style-type: none;
}

#bottom {
  background-color: #282e3d;
  position: fixed;
  height: 30px;
  width: 100vw;
  bottom: 0;
}

.alert {
  text-align: center;
  margin-bottom: 0rem;
}
